@import "../root";

.personal {

  &__content {
    margin: 3vh 0 0 0;
    width: 100%;
    @include flex(row, flex-start, center);
    gap: 12px;
  }

  &__image {
    width: 12.50vw;
    height: 12.50vw;
    object-fit: cover;
    border-radius: 100%;
  }

  &__text {
    width: 32vw;

  }

  &__title {
    margin: 0;
    font-family: 'Inter';
    @include font(28px, 135%, 700);
    font-style: normal;
    color: #1068c2;
  }

  &__description {
    margin: 12px 0 0 0;
    font-family: 'Inter';
    @include font(18px, 125%, 400);
    font-style: normal;
    color: black;
  }

  &__name-link {
    margin: 12px 0 0 0;
    font-family: 'Inter';
    @include font(22px, 125%, 400);
    font-style: normal;
    color: black;

    &:first-of-type {
      margin-top: 20px;
    }
  }

  &__link {
    font-family: 'Inter';
    @include font(22px, 125%, 400);
    font-style: normal;
    text-decoration: none;
    color: #1068c2;

    &:hover {
      transition: 1s ease-in;
      opacity: .6;
      border-bottom: #1068c2 1px solid;
      cursor: pointer;
    }
  }

}
