@import "../root";

.manual {
  margin-top: 28px;
  //width: 100%;
  height: 500px;

  &__title {
    margin: 0;
    @include font(20px, 24px, 700);
  }

  &__list {
    margin: 20px 0 0 20px;
    padding: 0;
    @include font(20px, 24px, 400);
  }

  &__image-title {
    margin: 36px 0 20px 0;
    padding: 0;
    @include font(20px, 24px, 700);
  }

  &__image {
    width: 36.63vw;
    object-fit: contain;
  }
}
