@import "../root";

.team {

  &__item {
    color: #1068c2;
    @include flex(row, flex-start, flex-start);
  }

  &__link {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    @include font(18px, 105%, 400);
    color: #1068c2;
    &:hover {
      transition: 1s ease-in;
      opacity: .6;
      border-bottom: #1068c2 1px solid;
      cursor: pointer;
    }
  }

  &__prof {
    margin-left: 5px;
    font-family: 'Inter';
    font-style: normal;
    @include font(18px, 105%, 400);
    color: black;
  }
}
