@import "../root";

.header-nav {
  margin-right: 80px;
  @include flex(row, flex-start, center);

  &__links {
    list-style-type: none;
    @include flex(row, flex-start, center);
    gap: 24px;
  }

  &__link {
    cursor: pointer;
    text-decoration: none;
    color: white;

    &:hover {
      transition: 1s ease-in;
      opacity: .6;
      border-bottom: white 1px solid;
    }
  }
}
