@import "../root";

.header {
  width: 100%;
  height: 12%;
  background-color: rgba(35, 114, 171, 1);
  color: white;
  @include flex(row, space-between, center);

  &__container {
    @include flex(row, flex-start, center);
  }

  &__text-container {
    margin-left: 16px;

    @media screen and (max-width: 600px) {
      margin-left: 5%;
    }
  }

  &__title {
    margin: 0;
    @include font(36px, 44px, 600);

    @media screen and (max-width: 600px) {
      text-align: center;
      @include font(16px, 22px, 600);
    }
  }

  &__text {
    margin: 8px 0 0 0;
    @include font(20px, 24px, 400);

    @media screen and (max-width: 600px) {
      display: none;
      //@include font(16px, 18px, 400);
    }
  }

  &__nav-container {

    @media screen and (max-width: 600px) {
      display: none;
    }

  }

  &__burger-menu {
    display: none;
    padding: 0;
    border: none;
    cursor: pointer;
    background: url(../../images/header__burger-menu.svg) 0 0/cover no-repeat;

    @media screen and (max-width: 600px) {
      display: block;
      margin-right: 5%;
      min-height: 35px;
      min-width: 35px;
    }
  }

}
