@import "../root";

.footer {
  width: 100%;
  //height: 60px;
  height: 7vh;
  background-color: rgba(35, 114, 171, 1);
  color: white;
  @include flex(row, flex-end, center);

  &__copyring {
    margin-right: 80px;
    color: white;
  }
}
